* {
    box-sizing: border-box;
}
body {
    width: 1024px;
    height: 512px;
    margin: 10px auto;
    background-color: crimson;
    border: 2px solid white;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
}

header,
nav,
main,
aside,
footer {
    background-color: grey;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

header, nav, footer {
    width: 1024px;
}

header {height: 88px;}
nav {height: 48px;}
main,
aside {
    height: 340px;
}

main{
    width: 800px;
}

aside {
    width: 220px;
}
footer {
    height: 32px;
}

